<div class="container mt-5">
    <h2 class="text-center mb-4">User Information</h2>
    <div class="table-responsive">
        <table class="table table-hover table-bordered text-center align-middle">
            <thead class="table-dark">
                <tr>
                    <th>User ID</th>
                    <th>Email</th>
                    <th>Created Date</th>
                    <th>Full Name</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                @for (item of userList; track $index) {
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{item.fullName}}</td>
                    <td>+880 {{item.mobileNo}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.createdDate | date:'dd/MM/yyyy'}}</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="row container-fluid mt-5 mb-5">

    <div class="col-3">
        <label>Select State</label>
        <select class="form-select" [(ngModel)]="selectedSateId" (change)="GetDistrictByStateId()">
            <option value="">Select State</option>
            @for (item of stateList; track $index) {
            <option value="{{item.stateId}}">{{item.stateName}}</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label>Select District</label>
        <select class="form-select" [(ngModel)]="selectedDistrictId" (change)="GetCityByDistrictId()">
            <option value="">Select District</option>
            @for (item of districtList; track $index) {
            <option value="{{item.districtId}}">{{item.districtName}}</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label>Select City</label>
        <select class="form-select">
            <option value="">Select City</option>
            @for (item of cityList; track $index) {
            <option value="{{item.cityId}}">{{item.cityName}}</option>
            }
        </select>
    </div>

</div>